.custom-card {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-item {
    border: none;
  }
  
  .custom-img {
    object-fit: cover;
    max-height: 120px;
  }
  
  .card h4 {
    font-weight: bold;
  }
  
  .text-right {
    text-align: right;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
  }
  
  .card img {
    object-fit: cover;
    max-height: 120px;
  }
  