.image-preview-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

.preview-image {
  width: auto;
  height: auto;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: border-color 0.3s ease;
}

.preview-image:hover {
  border-color: black;
}


.main-image img {
  max-height: 100%;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
}

.details-section {
  padding-left: 20px;
}

.picture-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rating {
  font-size: 1rem;
  color: #ffcc00;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.button-group button {
  width: 100%;
  margin-bottom: 5px;
}

.additional-container {
  margin-top: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.item-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 2px;
}

.image-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

@media (max-width: 767px) {
  .preview-images {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .picture-card {
    height: 100%;
  }
}


.floating-card {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Floating shadow effect */
  border-radius: 10px; /* Rounded corners */
  margin: 2px; /* Reduce the margin to bring the card closer to the edges */
  width: 95%; /* Make the card wider */
  
}
