//override bootstrap theme
$primary: #005D8D;
$secondary: #D62323;
$tertiary: #000000;
$primary-accent: #669EBB;
$secondary-accent: #D9D9D9;
$tertiary-accent: #0F9E48;


//import bootstrap style
@import "~bootstrap/scss/bootstrap"

